cloudProviderOption:
  tencentcloud:
    zhansan:
      secretId: "XXX"
      secretKey: "YYY"
  instanceParameter:
    tencentcloud_beijing5_1-2-3-x:
      providerIdTemplate: "externalgrpc://tencentcloud/zhansan/ap-beijing/{{InstanceID}}"
      parameter:
        InstanceChargeType: "PREPAID"
        InstanceChargePrepaid:
          Period: 1
          RenewFlag: "NOTIFY_AND_AUTO_RENEW"
        Placement:
          ProjectId: 123456
          Zone: "ap-beijing-5"
        InstanceType: "S5.2XLARGE16"
        ImageId: "img-111111"
        SystemDisk:
          DiskType: "CLOUD_PREMIUM"
          DiskSize: 200
          DiskName: "K8S-NODE-SYSTEM-DISK"
        VirtualPrivateCloud:
          VpcId: "vpc-222222"
          SubnetId: "subnet-333333"
        InstanceCount: 1
        InstanceName: "K8S-NODE"
        SecurityGroupIds:
          - "sg-444444"
        TagSpecification:
          -  ResourceType: "instance"
             Tags:
               - Key: "env"
                 Value: "test"
nodeGroups:
- id: "master"
  minSize: 3
  maxSize: 3
  targetSize: 3
  nodeTemplate:
    labels:
      node-role.kubernetes.io/master: ""
    annotations:
    capacity:
      cpu: "8"
      memory: "16G"
      ephemeral-storage: "200G"
    allocatable:
      cpu: "8"
      memory: "16G"
      ephemeral-storage: "200G"
    taints:
      - key: "node-role.kubernetes.io/master"
        effect: "NoSchedule"
- id: "worker-addons"
  minSize: 3
  maxSize: 3
  targetSize: 3
  nodeTemplate:
    labels:
      node-role.kubernetes.io/worker-addons: ""
    annotations:
    capacity:
      cpu: "48"
      memory: "16G"
      ephemeral-storage: "200G"
    allocatable:
      cpu: "8"
      memory: "16G"
      ephemeral-storage: "200G"
    taints:
      - key: "CriticalAddonsOnly"
        effect: "NoSchedule"
- id: "autoscaler-test"
  minSize: 0
  maxSize: 10
  targetSize: 0
  autoscalingOptions:
    scaleDownUtilizationThreshold: 0.5
    scaleDownGpuUtilizationThreshold: 0.5
    scaleDownUnneededTime: "40m"
    scaleDownUnreadyTime: "10m"
  instanceParameter: "tencentcloud_beijing5_1-2-3-x"
  instances:
    - id: 6ddb4200
      name: 1.2.3.4
      ip: 1.2.3.4
      providerID: externalgrpc://tencentcloud/zhansan/ap-beijing/ins-aaaaaaa
      stage: Deleted
      updateTime: 2025-09-06T00:50:31.994536143+08:00
  nodeTemplate:
    labels:
      "node-role.kubernetes.io/autoscaler-test": ""
    annotations:
    capacity:
      cpu: "8"
      memory: "16G"
      ephemeral-storage: "200G"
    allocatable:
      cpu: "8"
      memory: "16G"
      ephemeral-storage: "200G"
    taints: