apiVersion: v1
kind: ServiceAccount
metadata:
  name: cluster-autoscaler-grpc-cloud-provider
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: cluster-autoscaler-grpc-cloud-provider
rules:
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["watch", "list", "get", "update", "delete"]
  - apiGroups: [""]
    resources: ["pods/eviction"]
    verbs: ["create"]
  - apiGroups: [""]
    resources:
      - "pods"
      - "replicationcontrollers"
      - "persistentvolumeclaims"
      - "persistentvolumes"
    verbs: ["watch", "list", "get"]
  - apiGroups: ["extensions"]
    resources: ["replicasets", "daemonsets"]
    verbs: ["watch", "list", "get"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "create", "update", "watch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: cluster-autoscaler-grpc-cloud-provider
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: cluster-autoscaler-grpc-cloud-provider
subjects:
  - kind: ServiceAccount
    name: cluster-autoscaler-grpc-cloud-provider
    namespace: kube-system
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: cluster-autoscaler-grpc-cloud-provider
  name: cluster-autoscaler-grpc-cloud-provider
  namespace: kube-system
spec:
  ports:
    - name: tcp
      port: 8086
      protocol: TCP
      targetPort: 8086
  selector:
    app: cluster-autoscaler-grpc-cloud-provider
  sessionAffinity: None
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: cluster-autoscaler-grpc-cloud-provider
  namespace: kube-system
  labels:
    app: cluster-autoscaler-grpc-cloud-provider
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cluster-autoscaler-grpc-cloud-provider
  template:
    metadata:
      labels:
        app: cluster-autoscaler-grpc-cloud-provider
      annotations:
        prometheus.io/scrape: 'true'
        prometheus.io/port: '8085'
    spec:
      serviceAccountName: cluster-autoscaler-grpc-cloud-provider
      containers:
        - image: cowell-images.tencentcloudcr.com/cowellpi/cluster-autoscaler-grpc-cloud-provider:v0.0.0
          name: cluster-autoscaler-grpc-cloud-provider
          resources:
            limits:
              cpu: 100m
              memory: 300Mi
            requests:
              cpu: 100m
              memory: 300Mi
          env:
            - name: KUBE_NODE_SSH_USER
              valueFrom:
                secretKeyRef:
                  name: kube-node-ssh-auth
                  key: KUBE_NODE_SSH_USER
            - name: KUBE_NODE_SSH_PASSWD
              valueFrom:
                secretKeyRef:
                  name: kube-node-ssh-auth
                  key: KUBE_NODE_SSH_PASSWD
          command:
            - /opt/cluster-autoscaler-grpc-cloud-provider
            - --cloud-provider=externalgrpc
            - --cloud-config=/opt/cloud-config.cfg
            - --nodegroup-config=/opt/nodegroup-config.yaml
            - --hooks-path=/opt/hooks
            - --create-parallelism=3
            - --delete-parallelism=3
            - --v=5
          volumeMounts:
            - name: config
              mountPath: /opt/cloud-config.cfg
              subPath: cloud-config.cfg
            - name: config
              mountPath: /opt/nodegroup-config.yaml
              subPath: nodegroup-config.yaml
          imagePullPolicy: "Always"
      volumes:
        - name: config
          configMap:
            name: cluster-autoscaler-grpc-cloud-provider-cm
            items:
              - key: cloud-config
                path: cloud-config.cfg
              - key: nodegroup-config
                path: nodegroup-config.yaml
---
apiVersion: v1
kind: Secret
metadata:
  name: kube-node-ssh-auth
  namespace: kube-system
type: Opaque
data:
  KUBE_NODE_SSH_USER: root
  KUBE_NODE_SSH_PASSWD: root
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: cluster-autoscaler-grpc-cloud-provider-cm
  namespace: kube-system
data:
  cloud-config: |
    address: "cluster-autoscaler-grpc-cloud-provider-service:8086"
    key: ""
    cert: ""
    cacert: ""
  nodegroup-config: |
    cloudProviderOption:
      tencentcloud:
        zhansan:
          secretId: "XXX"
          secretKey: "YYY"
      instanceParameter:
        tencentcloud_beijing5_10-2-20-x:
          providerIdTemplate: "externalgrpc://tencentcloud/zhansan/ap-beijing/{{InstanceID}}"
          parameter:
            InstanceChargeType: "PREPAID"
            InstanceChargePrepaid:
              Period: 1
              RenewFlag: "NOTIFY_AND_AUTO_RENEW"
            Placement:
              ProjectId: 123456
              Zone: "ap-beijing-5"
            InstanceType: "S5.2XLARGE16"
            ImageId: "img-111111"
            SystemDisk:
              DiskType: "CLOUD_PREMIUM"
              DiskSize: 200
              DiskName: "K8S-NODE-SYSTEM-DISK"
            VirtualPrivateCloud:
              VpcId: "vpc-222222"
              SubnetId: "subnet-333333"
            InstanceCount: 1
            InstanceName: "K8S-NODE"
            SecurityGroupIds:
              - "sg-444444"
            TagSpecification:
              -  ResourceType: "instance"
                 Tags:
                   - Key: "env"
                     Value: "test"
    nodeGroups:
      - id: "master"
        minSize: 3
        maxSize: 3
        targetSize: 3
        nodeTemplate:
          labels:
            node-role.kubernetes.io/master: ""
          annotations:
          capacity:
            cpu: "8"
            memory: "16G"
            ephemeral-storage: "200G"
          allocatable:
            cpu: "8"
            memory: "16G"
            ephemeral-storage: "200G"
          taints:
            - key: "node-role.kubernetes.io/master"
              effect: "NoSchedule"
      - id: "worker-addons"
        minSize: 3
        maxSize: 3
        targetSize: 3
        nodeTemplate:
          labels:
            node-role.kubernetes.io/worker-addons: ""
          annotations:
          capacity:
            cpu: "48"
            memory: "16G"
            ephemeral-storage: "200G"
          allocatable:
            cpu: "8"
            memory: "16G"
            ephemeral-storage: "200G"
          taints:
            - key: "CriticalAddonsOnly"
              effect: "NoSchedule"
      - id: "autoscaler-test"
        minSize: 0
        maxSize: 10
        targetSize: 0
        autoscalingOptions:
          scaleDownUtilizationThreshold: 0.5
          scaleDownGpuUtilizationThreshold: 0.5
          scaleDownUnneededTime: "40m"
          scaleDownUnreadyTime: "10m"
        instances:
          - id: 6ddb4200
            name: 1.2.3.4
            ip: 1.2.3.4
            providerID: externalgrpc://tencentcloud/zhansan/ap-beijing/ins-aaaaaaa
            stage: Deleted
            updateTime: 2025-09-06T00:50:31.994536143+08:00
        nodeTemplate:
          labels:
            "node-role.kubernetes.io/autoscaler-test": ""
          annotations:
          capacity:
            cpu: "8"
            memory: "16G"
            ephemeral-storage: "200G"
          allocatable:
            cpu: "8"
            memory: "16G"
            ephemeral-storage: "200G"
          taints:
